@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f282
    meu Lilás: #9F7BC1
    Lilás escuro: #75499c;
    Azul: #5E94F8; 
*/

* { 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #75499c;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);

    transition: width 0.3s, height 0.3s;
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #75499c url(../imagens/pexels-sean-whang-804269.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0,8em;
}

form > div.campo {
    background-color: #75499c;
    border: 2px solid #75499c;
    display: block;
    height: 40px;
    border-radius: 8px;
    width: 100%;
    margin: 5px 0px;
}

form > div.campo > input {
    background-color: #92b8ff;
    font-size: 1em;
    width: calc(100% - 45px); 
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white; 
    background-color: #5E94F8;
    border: 1px solid #75499c;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #3059a7;  

}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 7px;
    background-color: white;
    color: #75499c;
    border: 1px solid #75499c;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #3059a7;
    color: white;
}

form > a.botao > i {
    font-size: 0.8em;
}
